/*Estilo padrão para todas as páginas*/
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

/* root é para declarar uma variável */
:root {
    --hover-color: #D1930E;
    --font-color: #D1930E;
    --border: 1px solid #D1930E;
    --border-test: 1px solid #64e680;
    --marrom: #847059;
    --bordo: #5E2939;
    --cinza-escuro: #4B4B4D;
}

/* "*" irá corresponder a todos os elementos do documento. */
* {
    font-family: "Atma", cursive, "Arial", "Helvetica", "sans-serif";
    font-size: 12pt;
    color: white;
    text-decoration: none;
    transition: .2s linear;
}

/* zerando a margem no corpo e definindo a cor da página */
body {
    margin: 0;
    padding: 0;
    background: black;
}

/* definindo o padding das seções em 10% no lado esq e dir e zerando acima e abaixo */
section {
    padding: 0 10%;
}

p,
li {
    font-size: 1.3em;
    /*15,6pt*/
    font-family: "Atma Medium";
}

h1,
h2,
h3 {
    font-family: "Atma SemiBold";
}

h1 {
    font-size: 1.8em;
    /*21pt*/
}

h2 {
    font-size: 1.5em;
    /*18pt*/
}

h3 {
    font-size: 1.3em;
    /*15,6pt*/
}

/* definições das linhas */
hr {
    border: var(--border);
    width: 90%;
    margin: 5% auto;
}

/* definição das características dos botões */
.button {
    background-color: var(--hover-color);
    display: inline-block;
    padding: 1em;
    margin: 0.5em;
    width: 40%;
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 0.5em #999;
    cursor: pointer;
    /*aparece a mãozinha quando passa o mouse em cima*/
    border: none;
}

/* definição da fonte dos botões */
.button a {
    font-size: 2em;
}

/* efeito do botão quando passa o mouse em cima */
.button:hover {
    background-color: var(--bordo);
    box-shadow: 0.2em 0.2em 0.2em #999;
}

/* efeito do botão quando aperta */
.button:active {
    background-color: #847059;
    transform: translateY(8px);
}

/*========= FORMATAÇÃO DO CABEÇALHO =========*/
header {
    background-image: url(../img/fundo.jpg);
    display: flex;
    /* Define o elemento como um flex container, tornando os seus filhos flex-itens. */
    justify-content: space-between;
    /*espaço entre a logo e o menu*/
    border-bottom: var(--border);
    position: fixed;
    /*Fixar o menu na página*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 88%;
    /* Para definir a altura do header em 12% */
    z-index: 1;
    /* Para o menu sobrepor os slides de fotos quando rolar a página */
}

/* definições da logo do cabeçalho */
header .logo {
    display: flex;
    align-self: center;
    height: 60%;
    padding: 1.3% 1.3%;
}

/* menu de navagação */
/* definição dos itens da lista do menu */
#nav {
    align-self: center;
}

/* tag âncora */
#nav a {
    font-size: 1.2em;
    text-decoration: none;
}

/* efeito nas âncoras */
#nav a:hover {
    color: var(--hover-color);
    border-bottom: .1em solid var(--hover-color);
}

#menu {
    display: flex;
    list-style: none;
    gap: 3.5rem;
    padding-right: 40px;
}

#menu a {
    display: block;
    padding-inline: .1rem;
    /* padding-right: 10%; */
}

#menu a:hover {
    color: var(--hover-color);
}

/* Menu Sanduíche fica escondido quando está na tela de computador/WideScreen*/
#btn-mobile {
    display: none;
}

/* ============= Início da página principal ============= */
/* alinhamento da pág principal */
.pag-principal {
    height: 100%;
    padding: 10%;
    text-align: center;
    font-size: 1.5em;
}

/* definir a cor do h1 da pág principal */
.pag-principal h1 {
    color: var(--font-color);
}

/* Fim da página principal */
/*============= Fim do Header =============*/

/*============= Início do Slide de fotos =============*/
section#galeria {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    height: 80vh;
    text-align: center;

}

section#galeria h1 {
    /* color: white; */
    padding: 4%;
    margin: 0;
}

section#galeria .content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    /*dentro da borda*/
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* section .banner .content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

/* Classe das barras para troca de fotos */
.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

/* Quando passar o mouse em cima da barra / efeito(hover) */
.bar:hover {
    background-color: white;
}

/* Para tirar as bolinhas da navegação de fotos*/
.slides input {
    display: none;
}

.slides {
    display: flex;
    /*para colocar as imagens uma do lado da outra*/
    width: 500%;
    /*para aparecer 1 img de cada vez, 100% para cada img*/
    height: 100%;
}

.slide {
    width: 20%;
    /* 20% para cada img totalizando 100% */
    transition: .6s;
}

.slide img {
    width: 100%;
    /* para não cortar a img dentro do formato da div */
    /* height: 100%; */
}

/* para mover as imagens */
/* Quando o primeiro imput estiver checado, o s1 terá uma margem */
#slide1:checked~.s1 {
    margin-left: 0;
}

/* Quando o slide2 estiver selecionado, o s1 terá uma margem de -20% */
#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

#slide5:checked~.s1 {
    margin-left: -80%;
}

/* Seção 04 */
#secao04 p {
    font-size: 1.3em;
}

/*============= Início da seção 2 - OBJETIVOS =============*/
/* Definições do h1: "O EVENTO" */
section#secao02 h1 {
    font-size: 2em;
    text-align: center;
    padding: 2%;
}

/* Definindo a cor dos subtítulos das seções 2,3 e 4 */
section#secao02 h2,
#secao03 h2,
#secao04 h2 {
    color: var(--font-color);
}

/*============= Fim da seção 2 =============*/

/*============= Início da seção 5 - TABELA =============*/

section#secao05 {
    display: grid;
    padding: 2% 10%;
}

/* tamanho da fonte das colunas */
section#secao05 table td {
    font-size: 1.2em;
}

/* definindo a cor do título da tabela */
section#secao05 table th {
    font-size: 1.2em;
    color: var(--font-color);
}

/*============= Fim da seção 5 =============*/
/*============= Início da seção 6 - BÔNUS =============*/

section#secao06 .box-geral {
    text-align: center;
    display: flex;
    justify-content: center;
}

section#secao06 .box {
    border: var(--border);
    border-radius: 5%;
    width: 300px;
    height: 300px;
    padding: 2em 1em 0;
    margin: 1em;
}

section#secao06 h1 {
    text-align: center;
}

section#secao06 h3 {
    color: var(--font-color);
}

/*============= Fim da seção 6 =============*/
/*============= Início da seção 7 =============*/
section#secao07 {
    height: 100%;
    padding-top: 1%;
    padding-bottom: 10%;
    text-align: center;
}

section#secao07 p {
    font-size: 1.5em;
}

/*============= Fim da seção 7 =============*/
/*============= Início da seção 8 - iframes mapa e vídeo =============*/
section#secao08 .iframe {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4%;
}

section#secao08 h2 {
    color: var(--font-color);
}


/*============= Fim da seção 8 =============*/
/*============= Início Footer =============*/

footer {
    display: flexbox;
    background-image: url(../img/fundo.jpg);
    grid-area: rodape;
    text-align: left;
    width: 100%;
}

footer .partes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

footer h2 {
    color: var(--font-color);
}

footer span {
    color: var(--hover-color);
}

footer p {
    font-size: 1em;
}

.copyright {
    color: #fff;
    padding: .5em;
    text-align: center;
}

/* Início Redes Sociais do Footer */
/* Alinha os icones das redes sociais dentro da bola */
.redes {
    text-align: center;
    width: 100%;
    /* Para os ícones ficarem sozinhos na linha toda */
    padding: 0%;
}

/* share é a class da div */
/* Criando e Posicionando os Cícurlos a partir dos Links(a) que estão dentro da div de class=share */
.redes .share a {
    height: 2em;
    width: 2em;
    line-height: 2em;
    font-size: 2em;
    border: var(--border);
    /* Cor da borda do Círculo */
    margin: 1%;
    border-radius: 50%;
    /* Formato do círculo */
}

/* Definindo a cor do círculo quando passa o mouse em cima*/
.redes .share a:hover {
    background-color: var(--bordo);
}

/* Fim das Redes Sociais do Footer */



/*============= Fim do Footer =============*/

/*============= Início do media queries  =============*/
@media (max-width:991px) {

    html {
        font-size: 75%;
    }

    header {
        font-size: 0.1em;
        padding-right: 1%;
    }

    section {
        padding: 2em;
    }

    header .logo {
        height: 60%;
    }

    header nav a {
        font-size: 90%;
        /* text-decoration: none; */
    }

    /* MOBILE MENU */

    #menu {
        display: block;
        position: absolute;
        width: 30%;
        top: 80px;
        right: 0px;
        background: var(--bordo);
        transition: 0.6s;
        z-index: 1000;
        /* height: 0px; */
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(40vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1.3em;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 4px solid;
        width: 30px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        background: currentColor;
        margin-top: 7px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -10px;
    }

    /* FIM DO MENU MOBILE*/



    /* mobile botão - aumentar a largura dos botões */
    .button {
        width: 80%;
    }

    /* definição da fonte dos botões */
    .button a {
        font-size: 1.5em;
    }

    section#galeria .content {
        display: block;
        background-size: cover;
        width: 100%;
        position: absolute;
        top: 180%;
        left: 50%;
        font-size: small;
    }

    /* section#galeria .content {
        height: 520px;
        width: 935px;
        border-radius: 20px;
        overflow: hidden;
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */

    /* mobile seção 05 - tabela */
    section#secao05 {
        padding: 2% 2%;
    }

    section#secao05 tr {
        font-size: 12px;
    }

    /* mobile seção 06 - sorteio bônus */
    section#secao06 .box-geral {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* mobile 07 - posicionar as setas para não ultrapassar a página */
    section#secao07 img {
        width: 100%;
    }

    /* mobile seção 08 - iframes para centralizar e quebrar conforme a tela */
    section#secao08 .iframe {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* mobile footer */
    footer .partes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media (max-width:768px) {

    header {
        font-size: 0.1em;
        padding-right: 10%;
    }

    header .logo {
        height: 50%;
    }

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: var(--bordo);
        width: 30rem;
        height: calc(70vh - 9.5rem);
        z-index: 2;
    }

    .header .navbar .active {
        right: 10%;
        z-index: 2;
    }

    .header .navbar a {
        color: rgb(255, 255, 255);
        display: block;
        /* font-size: 100%; */
        margin: 1.5rem;
        padding: .5rem;
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* flex-flow: column wrap; */
        z-index: 2;
    }


}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }
}