/* ================== Estilo para a página Contato ================== */

/* Usando a regra @import para importar a fonte do Google em CSS */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

/* variáveis root*/
@import url('style.css');

/* ==================== Formatação do formulário ==================== */
/* Formatação do fundo do formulário */
.contact .row {
    background-color: var(--cor-form);
    border-radius: 20px;
    margin-bottom: 10%;

}
/* Formatação do formulário */
.contact .row form {
    padding: 5rem 20rem;
    text-align: center;
}
/* Formatação do título/legenda do formulário */
.contact .row form legend {
    text-transform: uppercase;
    font-size: 1.5em;
}
/* Formatação dos campos do formulário */
.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: black;
    border: var(--border);
}
/* Formatação dos ícones do formulário */
.contact .row form .inputBox span {
    color: var(--font-color);
    font-size: 2rem;
    padding-left: 2rem;
}
/* Formatação dos inputs do formulário */
.contact .row form .inputBox input {
    width: 100%;
    padding: 1em;
    font-size: 1.3em;
    text-transform: none;
    background: none;
}

/* tirar a borda padrão do input e do textarea */
.contact input,
textarea {
    border: none;
}
/* Formatação do textarea */
textarea {
    height: 150px;
    width: 100%;
    background-color: black;
    padding: 2rem;
    font-size: 1.2em;
}
/* Formatação do texto do checkbox */
.notificacao {
    font-size: 1.2em;
    text-align: initial;
}
/* Diminuindo um pouco o botão e os efeitos */
.button {
    font-size: 1.7em;
    box-shadow: 0.3em 0.3em 0.3em #999;
}

/*============= Início do media queries  =============*/
@media (max-width:991px) {
    .contact .row form {
        padding: 5rem 3rem;
    }

    /* ajustando formulário */
    .contact {
        padding: 0 2%;
    }
    /* ajustando o link do botão */
    .contact a {
        font-size: 70%;
    }
}

@media (max-width:768px) {
    .contact .row form {
        padding: 5rem 0.3rem;
    }