/* ================== Estilo padrão para todas as páginas ================== */

/* Usando a regra @import para importar a fonte do Google em CSS */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

/* root é para declarar uma variável */
:root {
    --hover-color: #D1930E;
    --font-color: #D1930E;
    --border: 1px solid #D1930E;
    --border-test: 1px solid #64e680;
    --marrom: #847059;
    --bordo: #5E2939;
    --cinza-escuro: #4B4B4D;
}

.corpo {
    padding-top: 10%;
    text-align: center;
    font-size: 1.5em;
}

.corpo h1 {
    color: var(--font-color);
}

/* "*" Irá corresponder a todos os elementos do documento. */
* {
    font-family: "Atma", "cursive", "Georgia", "Helvetica", "sans-serif";
    font-size: 12pt;
    color: white;
    text-decoration: none;
    transition: .2s linear;
}

/* zerando a margem e padding no corpo e definindo a cor de fundo da página */
body {
    margin: 0;
    padding: 0;
    background: black;
}

/* Definindo o padding das seções em 10% no lado esq e dir e zerando acima e abaixo */
section {
    padding: 0 10%;
}

/* Definindo as características dos parágrafos e listas dos itens */
p,
li {
    font-size: 1.3em;
    /*15,6pt*/
    font-family: "Atma Medium";
}

/* Definindo a fonte dos títulos */
h1,
h2,
h3 {
    font-family: "Atma SemiBold";
}

/* Definindo o tamanho da fonte dos títulos */
h1 {
    font-size: 1.8em;
    /*21pt*/
}

h2 {
    font-size: 1.5em;
    /*18pt*/
}

h3 {
    font-size: 1.3em;
    /*15,6pt*/
}

/* definição da característica das linhas */
hr {
    border: var(--border);
    width: 90%;
    margin: 5% auto;
}

/* definição das características dos botões de realizar a inscrição */
.button {
    background-color: var(--hover-color);
    display: inline-block;
    padding: 1em;
    margin: 0.5em;
    width: 40%;
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 0.5em #999;
    cursor: pointer;
    /*cursor pointer aparece a mãozinha quando passa o mouse em cima*/
    border: none;
}

/* definição do tamanho da fonte dos botões */
.button a {
    font-size: 2em;
}

/* efeito do botão quando passa o mouse em cima */
.button:hover {
    background-color: var(--bordo);
    box-shadow: 0.2em 0.2em 0.2em #999;
}

/* efeito do botão quando aperta */
.button:active {
    background-color: var(--marrom);
    transform: translateY(8px);
    /* translate reposiciona um elemento na direção horizontal e/ou vertical. 
    Suas coordenadas definem o quanto o elemento se move em cada direção. */
}
/* ================== FIM - Estilo padrão para todas as páginas ================== */
/* ================== FORMATAÇÃO DO CABEÇALHO ================== */
header {
    background-image: url(../img/fundo.jpg);
    display: flex;
    /* Define o elemento como um flex container, tornando os seus filhos flex-itens. */
    justify-content: space-between;
    /*espaço entre os elementos*/
    border-bottom: var(--border);
    position: fixed;
    /*Fixar o menu na página*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 88%;
    /* bottom para definir a altura do header/fundo em 12% */
    z-index: 1;
    /* Para o menu sobrepor os slides de fotos quando rolar a página, 
    o valor 1 define o grau de profundidade em relação aos outros que por padrão vem com valor 'auto'
    quanto maior esse valor, mais se sobrepõe em relação aos outros de menor valor */
}

/* definições da logo do cabeçalho */
header .logo {
    display: flex;
    align-self: center;
    /* 'align-self' Centraliza verticalmente */
    height: 60%;
    padding: 1.3% 1.3%;
}

/* menu de navagação */
/* Centraliza verticalmente os itens da lista do menu */
#nav {
    align-self: center;
}

/* tag âncora - tamanho da fonte dos links do menu */
#nav a {
    font-size: 1.2em;
}

/* efeito sublinhado quando passa o mouse nas âncoras */
#nav a:hover {
    border-bottom: .1em solid var(--hover-color);
}

/* Características do menu */
#menu {
    display: flex;
    list-style: none;
    /* list-style - Retirar as bolinhas das listas */
    gap: 3.5rem;
    /* gap - Distância entre os itens do menu */
    padding-right: 40px;
}

/* efeito de cor quando passa o mouse nas âncoras */
#menu a:hover {
    color: var(--hover-color);
}

/* Menu Sanduíche fica escondido quando está na tela de computador e aparece quando numa tela menor */
#btn-mobile {
    display: none;
}
/*============= Fim do Header =============*/

/*============= Início Footer =============*/
/* Definindo fundo do rodapé com uma imagem */
footer {
    background-image: url(../img/fundo.jpg);
    text-align: left;
    /* centralizando */
    width: 100%;
    /* ocupando toda largura da página */
}
/* Definindo 'contato', 'endereço' e 'horário' */
footer .partes {
    display: flex;
    /* flex para dividir em 3 partes horizontais */
    justify-content: space-around;
    padding: 10px;
}
/* Definindo a cor do h2 */
footer h2 {
    color: var(--font-color);
}
/* Definindo a cor do span */
footer span {
    color: var(--hover-color);
}
/* Diminuindo o tamanho do parágrafo */
footer p {
    font-size: 1em;
}
/* Configurando a última linha do footer */
.copyright {
    padding: .5em;
    text-align: center;
}

/* Início Redes Sociais do Footer */
/* Alinhando os icones das redes sociais dentro do círculo */
.redes {
    text-align: center;
    width: 100%;
    /* Para os ícones ficarem sozinhos na linha toda */
    padding: 0%;
}

/* share é a class da seção redes */
/* Criando e Posicionando os Cícurlos a partir dos Links(a) que estão dentro da div de class=share */
.redes .share a {
    height: 2em;
    width: 2em;
    line-height: 2em;
    font-size: 2em;
    border: var(--border);
    /* Cor da borda do Círculo */
    margin: 1%;
    border-radius: 50%;
    /* Formato do círculo */
}

/* Definindo a cor do círculo quando passa o mouse em cima*/
.redes .share a:hover {
    background-color: var(--bordo);
}
/* Fim das Redes Sociais do Footer */
/* ========================== Fim do Footer ========================== */

/* ========================== Início do media queries - RESPONSIVIDADE PARA CELULAR ==========================*/
@media (max-width:991px) {
    /* Definindo o tamanho das fontes padrão */

    li {
        font-size: 1em;
    }

    p {
        font-size: 1em;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1em;
    }
    /* Definindo o padding das sections */
    section {
        padding: 2em;
    }
    /* Definindo o padding da seção corpo que é maior */
    section#corpo {
        padding: 15% 2%;
    }
    /* Reduzindo o tamanho do logo no cabeçalho */
    header .logo {
        height: 60%;
    }

    /* ========================== MOBILE MENU ========================== */

    #menu {
        display: block;
        position: absolute;
        width: 40%;
        top: 60px;
        right: 0px;
        background: var(--bordo);
        transition: 0.6s;
        z-index: 10;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        line-height: 400%;
    }
    /* Quando o menu sanduíche for clicado a 'barra bordo' terá as seguintes caract: */
    #nav.active #menu {
        padding-top: 10%;
        height: calc(40vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    /* Efeito sublinhado embaixo dos links */
    #menu a {
        margin: 0 1rem;
        border-bottom: 2px solid rgba(209, 147, 14, 0.10);
    }

    /* Botão escrito 'MENU' ao lado do hamburger/X */    
    #btn-mobile {
        display: flex;
        padding: 0.5rem 2rem;
        font-size: 1.5em;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    /* 1ª linha do Menu sanduíche, que desaparece quando ele é clicado */
    #hamburger {
        border-top: 6px solid;
        width: 40px;
    }
    /* after é a linha que vem depois e before a linha que vai antes do menu 
    São as linhas que vão formar o X quando o menu for clicado */
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 40px;
        height: 6px;
        background: currentColor;
        margin-top: 6px;
        transition: 0.3s;
        position: relative;
    }

    /* escondendo a 1ª linha do menu sanduíche qdo ele é clicado */
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    /* Formando X qdo o sanduíche é clicado */
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -12px;
    }
    /* ========================== FIM DO MENU MOBILE ========================== */

    /* Mobile botão - aumentar a largura dos botões */
    .button {
        width: 80%;
    }

    /* Mobile - definição da fonte dos botões */
    .button a {
        font-size: 1.5em;
    }

    /* Mobile - Alinhando o footer para quebrar as 3 partes e ficar em 1 coluna */
    footer .partes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    /* Mobile - padding em volta dos círculos */
    footer .share {
        padding: 2%;
    }
}

@media (max-width:768px) {

    header {
        font-size: 0.1em;
        padding-right: 10%;
    }

    header .logo {
        height: 50%;
    }

    #btn-mobile {
        padding: 0.5rem 1rem;
        font-size: 1.3em;
    }

    #hamburger {
        border-top: 4px solid;
        width: 30px;
    }

    #hamburger::after,
    #hamburger::before {
        width: 30px;
        height: 4px;
        margin-top: 7px;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }
}