/* ================== Estilo para a página Resposta ================== */

/* Usando a regra @import para importar a fonte do Google em CSS */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');
/* root é para declarar uma variável */
:root {
    --hover-color: #D1930E;
    --font-color: #D1930E;
    --border: 1px solid #D1930E;
    --border-test: 1px solid #64e680;
    --marrom: #847059;
    --bordo: #5E2939;
    --cinza-escuro: #4B4B4D;
}
/* Formatando a página resposta */
.resposta {
    height: 60vh;
    margin-top: 7%;
    padding-top: 10%;
    text-align: center;
    font-size: 1.5em;
}
/* Formatando a cor do h3 da página resposta */
.resposta h3 {
    color: var(--font-color);
}
/* Formatando a imagem do WhatsApp */
.resposta img {
    width: 80px;
    height: 80px;
}

@media (max-width:991px) {

    .resposta {
        margin-top: 20%;
        padding: 0 7%;
        font-size: 1.2em;
        line-height: 200%;
    }
    .resposta h3 {
        font-size: 0.8em;
        font-family: "Atma light";
    }

}