/* ================== Estilo para a página Home ================== */

/* Usando a regra @import para importar a fonte do Google em CSS */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');
/* root é para declarar uma variável */
:root {
    --hover-color: #D1930E;
    --font-color: #D1930E;
    --border: 1px solid #D1930E;
    --border-test: 1px solid #64e680;
    --marrom: #847059;
    --bordo: #5E2939;
    --cinza-escuro: #4B4B4D;
}


/* ============= Início da página principal ============= */
/* alinhamento da pág principal */
#corpo .pag-principal {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 1.5em;
}

/* definir a cor do h1 da pág principal */
.pag-principal h1 {
    color: var(--font-color);
}

/* Fim da página principal */
/*============= Início do Slide de fotos =============*/
/* container para centralizar a galeria sem distorcer as imagens */
.container-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
}

#galeria h1 {
    color: var(--font-color);
    text-align: center;
    font-size: 1.5em;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

/*navegação manual*/

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--bordo);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: var(--marrom);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/*navegação automática*/

.navigation-auto {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 800px;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid var(--font-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: var(--font-color);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: var(--font-color);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: var(--font-color);
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: var(--font-color);
}

/*============= Fim do Slide de fotos =============*/


/* ============= Início da seção 2 - OBJETIVOS ============= */
/* Definições do h1: "O EVENTO" */
section#secao02 h1 {
    font-size: 2em;
    text-align: center;
    padding: 2%;
}

/* Definindo a cor dos subtítulos das seções 2,3 e 4 */
section#secao02 h2,
#secao03 h2,
#secao04 h2 {
    color: var(--font-color);
}

/*============= Fim da seção 2 =============*/

/* ============= Seção 04 ============= */
#secao04 p {
    font-size: 1.3em;
}

/*============= Início da seção 5 - TABELA =============*/
section#secao05 {
    display: grid;
    padding: 2% 10%;
}

/* tamanho da fonte das colunas */
section#secao05 table td {
    font-size: 1.2em;
}

/* definindo a cor do título da tabela */
section#secao05 table th {
    font-size: 1.2em;
    color: var(--font-color);
}

/*============= Fim da seção 5 =============*/
/*============= Início da seção 6 - BÔNUS =============*/
section#secao06 .box-geral {
    text-align: center;
    display: flex;
    justify-content: center;
}

section#secao06 .box {
    border: var(--border);
    border-radius: 5%;
    width: 300px;
    height: 300px;
    padding: 2em 1em 0;
    margin: 1em;
}

section#secao06 h1 {
    text-align: center;
}

section#secao06 h3 {
    color: var(--font-color);
}

/*============= Fim da seção 6 =============*/
/*============= Início da seção 7 - call to action - Preencher Formulário =============*/
section#secao07 {
    height: 100%;
    padding-top: 1%;
    padding-bottom: 10%;
    text-align: center;
}

section#secao07 p {
    font-size: 1.5em;
}

/*============= Fim da seção 7 =============*/
/*============= Início da seção 8 - iframes mapa e vídeo =============*/
section#secao08 .iframe {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4%;
}

section#secao08 h2 {
    color: var(--font-color);
}

/* ============= Fim da seção 8 =============*/

/* ============= MOBILE DA PÁG HOME ============= */
@media (max-width:991px) {
    .pag-principal {
        padding: 20% 3%;
        padding-bottom: 6%;
        font-size: 1.2em;
    }

    section#secao02,
    section#secao03,
    section#secao04,
    section#secao05,
    section#secao06,
    section#secao07,
    section#secao08 {
        padding: 2%;
    }

    section#secao04 p,
    section#secao07 p {
        font-size: 1em;
    }

    /* mobile seção 05 - tabela */
    section#secao05 {
        padding: 2% 2%;
    }

    section#secao05 tr {
        font-size: 12px;
    }

    /* mobile seção 06 - sorteio bônus */
    section#secao06 .box-geral {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* mobile 07 - posicionar as setas para não ultrapassar a página */
    section#secao07 img {
        width: 100%;
    }

    /* mobile seção 08 - iframes para centralizar e quebrar conforme a tela */
    section#secao08 iframe {
        width: 100%;
    }

    section#secao08 .iframe {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-galeria {
        width: 100%;
        display: block;
        align-items: center;
        height: 5%;
    }

    section#galeria {
        padding: 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .slider {
        width: 55%;
        height: 55%;
        padding: 0%;
    }

    .slides {
        height: 40vh;
    }

    .slides img {
        width: 80vh;
        height: 50vh;
    }

    .navigation-auto {
        /* display: none; */
        width: 350px;
        margin-top: 235px;
    }

    .navigation-manual {
        display: none;
        /* width: 220px;
        margin-top: -30px; */
    }
}