/* ================== Estilo para a página Home ================== */

/* Usando a regra @import para importar a fonte do Google em CSS */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

/* variáveis root */
@import url('style.css');

/* ========================== Início da página principal ========================== */
/* alinhamento da pág principal */
#corpo .pag-principal {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 1.5em;
}

/* definir a cor do h1 da pág principal */
.pag-principal h1 {
    color: var(--font-color);
}

/* Fim da página principal */

/* ========================== Início do Slide de fotos ========================== */
/* Estilos para o carrossel */
.carousel-container {
    position: relative;
    width: 50%;
    max-width: 1200px;
    margin: 50px auto 20px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .carousel {
    display: flex;
    width: 400%;
    transition: transform 2s ease-in-out;
    transform: translateX(-25%);
    flex-shrink: 0;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  /* Estilos para o indicador */
  .indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: #333;
  }
  
  
  /* Posiciona a div das bolinhas abaixo do container do carrossel */
  .indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  

/*========================== Fim do Slide de fotos ==========================*/

/* ================= Início da seção 2 - OBJETIVOS ================= */
/* Definições do h1: "O EVENTO" */
section#secao02 h1 {
    font-size: 2em;
    text-align: center;
    padding: 2%;
}

/* Definindo a cor dos subtítulos das seções 2,3 e 4 */
section#secao02 h2,
#secao03 h2,
#secao04 h2 {
    color: var(--font-color);
}

/*========================== Fim da seção 2 ==========================*/

/* ========================== Início da Seção 04 ========================== */
#secao04 p {
    font-size: 1.3em;
}

/* ========================== Fim da Seção 04 ========================== */
/*============= Início da seção 5 - TABELA =============*/
/* Definindo a posição da tabela na tela */
section#secao05 {
    display: grid;
    padding: 2% 10%;
}

/* tamanho da fonte das colunas */
section#secao05 table td {
    font-size: 1.2em;
}

/* definindo a cor do título da tabela */
section#secao05 table th {
    font-size: 1.2em;
    color: var(--font-color);
}

/*============= Fim da seção 5 =============*/
/*============= Início da seção 6 - BÔNUS =============*/
/* div necessária para deixar os quadrados/borda do mesmo tamanho
independente do tamanho das imagens */
section#secao06 .box-geral {
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Definindo as características do quadrado amarelo */
section#secao06 .box {
    border: var(--border);
    border-radius: 5%;
    width: 300px;
    height: 300px;
    padding: 2em 1em 0;
    margin: 1em;
}

/* Alinhando o h1 */
section#secao06 h1 {
    text-align: center;
}

/* alterando cor do h3 */
section#secao06 h3 {
    color: var(--font-color);
}

/*============= Fim da seção 6 =============*/
/*============= Início da seção 7 - call to action - Preencher Formulário =============*/
/* Definindo a tela e posição dos elementos na tela */
section#secao07 {
    height: 100%;
    padding-top: 1%;
    padding-bottom: 10%;
    text-align: center;
}

/* Alterando tamanho da fonte do parágrafo */
section#secao07 p {
    font-size: 1.5em;
}

/*============= Fim da seção 7 =============*/
/*============= Início da seção 8 - iframes: mapa e vídeo =============*/
/* Definindo um padding para não encostar um iframe no outro */
section#secao08 {
    padding: 2%;
}

/* Colocando lado a lado e colocando espaço entre os iframes */
section#secao08 .iframe {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 6%;
}

#secao08 iframe{
    width:450px; 
    height:281px;
}

/* Definindo a cor do h2 */
section#secao08 h2 {
    color: var(--font-color);
}

section#secao08 .esq, .dir {
    justify-content: center;

}

section#secao08 iframe {
    border: var(--border);
}

/* ============= Fim da seção 8 =============*/

/* ============= MOBILE DA PÁG HOME ============= */
@media (max-width:991px) {
    .pag-principal {
        padding: 20% 3%;
        padding-bottom: 6%;
        font-size: 1.2em;
    }

    section#secao02,
    section#secao03,
    section#secao04,
    section#secao05,
    section#secao06,
    section#secao07,
    section#secao08 {
        padding: 2%;
    }

    section#secao04 p,
    section#secao07 p {
        font-size: 1em;
    }

    /* mobile seção 05 - tabela */
    section#secao05 {
        padding: 2% 2%;
    }

    section#secao05 tr {
        font-size: 12px;
    }

    /* mobile seção 06 - sorteio bônus */
    section#secao06 .box-geral {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* mobile 07 - posicionar as setas para não ultrapassar a página */
    section#secao07 img {
        width: 70%;
    }

    /* Definindo a largura dos iframes */
    section#secao08 iframe {
        width: auto;
    }

    /* mobile seção 08 - iframes para centralizar e quebrar conforme a tela */
    section#secao08 .iframe {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
    }

/* ============= MOBILE DA PÁG HOME ============= */
/* MOBILE - Seção galeria de fotos */
@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
  }
  
  .carousel {
    width: 400%;
    margin: 0 auto;
  }
  
  .carousel img {
    width: 25%;
    height: auto;
    object-fit: cover;
  }
  
  /* Estilos para o indicador em dispositivos móveis */
  .indicator-container {
    margin-top: 5px;
  }
  
  .indicator {
    width: 8px;
    height: 8px;
    margin: 0 3px;
  }
}
