/* ================== Estilo para a página Resposta ================== */

/* Usando a regra @import para importar a fonte do Google em CSS */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

/* variáveis root */
@import url('style.css');

#corpo {
    margin-top: 20%;
    margin-bottom: 10%;
    padding: 0;
}

* {
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}

span {
    color: var(--font-color);
}

.cadastro {
    border: var(--border);
    width: auto;
    padding: 3%;
    margin: 2%;
    display: inline-block;
    justify-content: center;
}

.inscricao {
    color: var(--font-color);
    font-size: 1.5em;
}

/* Formatando a página resposta */
.resposta {
    display: static;

    height: auto;

    text-align: center;
    font-size: 1.5em;
}
/* Formatando a cor do h3 da página resposta */
.resposta h3 {
    color: var(--font-color);
}
/* Formatando a imagem do WhatsApp */
.resposta img {
    width: 80px;
    height: 80px;
}

@media (max-width:991px) {

    .resposta {
        padding: 0 1%;
        font-size: 1.2em;
        height: auto;
    }
    .resposta h3 {
        font-size: 0.8em;
        font-family: 'Atma', 'sans-serif';
        font-weight: 300;
    }

}